/*IDs*/
#title {
    display:block;
    margin: auto;
}
#mainMenuButtons {
    margin-left: auto;
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    resize: none;
}
/*Classes*/
.button1 {
    border-style:solid;
    border-color:black;
    border-width:5px;
    border-radius:5px;
    background-color:lightgrey;
    font-family: upheavel;
    font-size: 25px;
}
/*@s*/
@font-face {
    font-family: QuintReg;
    src: url(Fonts/QR.ttf)
}
@font-face {
    font-family: upheavel;
    src: url(Fonts/upheavtt.ttf);
}
/*HTML*/
h1 {
    font-family:QuintReg;
}
h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color:black;
}