/*IDs*/
#title {
    display:block;
    margin: auto;
}
#mainMenuButtons {
    margin: auto;
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    resize: none;
    font-family: upheavel;
    font-size: 25px;
}
/*Classes*/
.button1 {
    border-style:solid;
    border-color:black;
    border-width:5px;
    border-radius:5px;
    background-color:lightgrey;
}
/*@s*/
@font-face {
    font-family: QuintReg;
    src: url(Fonts/QR.ttf)
}
@font-face {
    font-family: upheavel;
    src: url(Fonts/upheavtt.ttf);
}
/*HTML*/
body {
    font-family:QuintReg;
}